<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizations</title>
</head>
<body class="container">
<div class="row">
    <div class="col-sm-3">
        <div>Filtering column</div>
        <div ng-repeat="x in organizationTags">
            <div class="checkbox">
                <label><input ng-model="check[x]" type="checkbox" value="">{{x}}</label>
            </div>
        </div>


    </div>
    <div class="col-sm-9">
        <div ng-repeat="x in organizations | filter:filterByProperties">
            <h3>{{x.name}}</h3>
            <p>{{x.description}}</p>
            <p><a target="_blank" ng-href="{{x.link}}">Website</a></p>
            <p>Email: {{x.email}}</p>
            <p>Tags: <span ng-repeat="tag in x.tags"><span> [{{tag}}] </span></span></p>
            <hr>
        </div>
    </div>
</div>


</body>
</html>